{{ $page := . }}

{{ $copyright := site.Copyright | markdownify }}
{{ $href := "https://ronovar.github.io/bas.github.io/" }}
{{ $linkcontent := $page.Param "paige.file_link.content" | markdownify }}
{{ $linkurl := $page.Param "paige.file_link.url" }}
{{ $target := partial "paige/target.html" (dict "page" $page "url" $href) }}

{{ if and $linkurl $page.File }}
    {{ $linkurl = printf $linkurl $page.File.Path | safeURL }}
{{ end }}

<footer class="mb-3" id="paige-footer">
    {{ if templates.Exists "partials/paige/footer-first.html" }}
        {{ partial "paige/footer-first.html" . }}
    {{ end }}

    {{ if and $linkcontent $linkurl (not ($page.Param "paige.file_link.disable")) }}
        <p class="text-center" id="paige-file-link">
            <a class="link-secondary" href="{{ $linkurl }}">{{ $linkcontent }}</a>
        </p>
    {{ end }}

    {{ with $copyright }}
        <img src = "https://ronovar.github.io/bas.github.io/images/ome audio.svg" alt="OME Audio"/>
        <p class="copyright">Copyright &copy; {{ site.Copystart }}-{{ dateFormat "2006" now }}, {{ site.Name }}.</p>
    {{ end }}

    <p class="mb-0 text-center" id="paige-credit">
        <a class="link-secondary text-decoration-none" href="{{ $href }}" {{ with $target }} target="{{ . }}" {{ end }}>OME Audio</a>
    </p>

    {{ if templates.Exists "partials/paige/footer-last.html" }}
        {{ partial "paige/footer-last.html" . }}
    {{ end }}

    <!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
    {{ if ($.Scratch.Get "photoswipeloaded") }}
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="{{.Site.BaseURL}}/js/load-photoswipe.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
    {{ end }}
</footer>
