#paige-title {
  font-size: 2.5rem;
}

.object-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p#paige-description {
  text-align: center !important;
}

p.lead.text-center, div#paige-content ul, div#paige-content p {
  text-align: justify !important;
}

div#paige-content h2, div#paige-content h3 {
    text-align: center !important;
    text-transform: uppercase;
}
