.paige-image {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

#paige-title {
  font-size: 2.5rem;
}

.object-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p#paige-description {
  text-align: center !important;
}

p, div#paige-content ul:not(.file-download), p.fst-italic.mb-0.paige-summary.text-center, .container-fluid p:not(p.display-7.fw-bold.h2.text-center) {
  text-align: justify !important;
}

div#paige-content h2, div#paige-content h3 {
    text-align: center !important;
    text-transform: uppercase;
}

div img {
    border-radius: 6px;
}

figure {
    display: flex;
    justify-content: center;
}

.gallery {
    max-width: -webkit-fill-available !important;
    display: flex;
}

.gallery figure {
    border-radius: 4px;
}

.pswp__caption__center {
    text-align: center !important;
}

#paige-metadata img, .mb-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    opacity: 0.6;
    margin-bottom: 4px;
    filter: invert(0.6) sepia(0.5) saturate(8) hue-rotate(175deg);
}

blockquote.blockquote {
    max-width: fit-content;
    text-align: center;
    font-size: medium;
    padding-right: 12px !important;
}

blockquote.blockquote strong {
    color: #5bab31;
}

.paige-quote {
    display: inline-block;
    padding-left: 0px;
}

div#paige-content :last-child > hr {
    margin-top: 0px;
}

p#home-comment {
  font-size: 20px;
}

ul.file-download {
  text-align: center !important;
}

ul.file-download li {
  display: inline-block;
  margin: 10px;
}

ul.file-download li .download {
  width: 200px;
  height: 75px;
  background: var(--bs-nav-pills-link-active-bg);
  float: left;
  border-radius: 5px;
  position: relative;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

ul.file-download li .download > .bi {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.df,
.dfn {
  position: absolute;
  left: 70px;
}

.df {
  top: 20px;
  font-size: .68em;
  color: lightcoral;
}

.dfn {
  top: 33px;
  font-size: 0.84em;
  line-height: 1.01;
  text-align: left;
  color: lightskyblue;
}

ul.file-download li .download:hover {
  -webkit-filter: invert(50%);
  filter: invert(50%);
}

ul.file-download li i.bi.bi-file-earmark-pdf-fill, ul.file-download li i.bi.bi-image-fill {
    font-size: 3em;
    color: powderblue;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

table tr td:nth-child(2) {
  text-align: center;  
}
