{{ if .IsNamedParams }}
<ul class="file-download">
  {{ if (fileExists (printf "static/attachments/%s - SCHEMATIC.pdf" .Page.Title)) -}}
    <li>
      <div class="download android">
        <i class="bi bi-file-earmark-pdf-fill"></i>
        <span class="df">{{ .Page.Title }} - SCHEMATIC (PDF)</span>
        <span class="dfn">{{ .Page.Title }}</span>
      </div>
    </li>
  {{- end }}
  {{ if (fileExists (printf "static/attachments/%s - LAYOUT.gif" .Page.Title)) -}}
    <li>
      <div class="download android">
        <i class="bi bi-image-fill"></i>
        <span class="df">{{ .Page.Title }} - LAYOUT (GIF)</span>
        <span class="dfn">{{ .Page.Title }}</span>
      </div>
    </li>
  {{- end }}
  {{ if (fileExists (printf "static/attachments/%s - PCB.pdf" .Page.Title)) -}}
    <li>
      <div class="download android">
        <i class="bi bi-file-earmark-pdf-fill"></i>
        <span class="df">{{ .Page.Title }} - PCB (PDF)</span>
        <span class="dfn">{{ .Page.Title }}</span>
      </div>
    </li>
  {{- end }}
</ul>
{{ else }}
<ul>
  <li>
  </li>
</ul>
{{ end }}
