{{ if .IsNamedParams }}
<ul class="file-download">
  {{ if (fileExists (printf "static/attachments/%s - ŠEMA.pdf" .Params.file)) -}}
    <li>
      <div class="download schematic" file="{{ .Params.file }} - ŠEMA.pdf">
        <i class="bi bi-file-earmark-pdf-fill"></i>
        <span class="df">ŠEMA (PDF)</span>
        <span class="dfn">{{ .Params.file }}</span>
      </div>
    </li>
  {{- end }}
  {{ if (fileExists (printf "static/attachments/%s - ŠEMA.gif" .Params.file)) -}}
    <li>
      <div class="download schematic" file="{{ .Params.file }} - ŠEMA.gif">
        <i class="bi bi-image-fill"></i>
        <span class="df">ŠEMA (GIF)</span>
        <span class="dfn">{{ .Params.file }}</span>
      </div>
    </li>
  {{- end }}
  {{ if (fileExists (printf "static/attachments/%s - RASPORED.gif" .Params.file)) -}}
    <li>
      <div class="download layout" file="{{ .Params.file }} - RASPORED.gif">
        <i class="bi bi-image-fill"></i>
        <span class="df">RASPORED (GIF)</span>
        <span class="dfn">{{ .Params.file }}</span>
      </div>
    </li>
  {{- end }}
  {{ if (fileExists (printf "static/attachments/%s - PLOČICA.pdf" .Params.file)) -}}
    <li>
      <div class="download pcb" file="{{ .Params.file }} - PLOČICA.pdf">
        <i class="bi bi-file-earmark-pdf-fill"></i>
        <span class="df">PLOČICA (PDF)</span>
        <span class="dfn">{{ .Params.file }}</span>
      </div>
    </li>
  {{- end }}
</ul>
{{ else }}
<ul>
  <li>
  </li>
</ul>
{{ end }}
